.description-bg-wrapper {
  padding-bottom: 80px;
  max-width: 375px;
  margin: 0 auto;
  position: relative;

  @include media(desktop) {
    padding-bottom: 120px;
    max-width: 1440px;
  }
}

.description-text {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
  word-break: break-word;

  @include media(desktop) {
    font-size: 20px;
    max-width: 720px;
    margin: 0 auto;
  }
}
