.download-section {
  padding-bottom: 108px;

  @include media(desktop) {
    padding-bottom: 153px;
  }
}

.download-text {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
  word-break: break-word;

  @include media(desktop) {
    font-size: 20px;
    max-width: 403px;
    margin: 0 auto;
  }
}
