.gallery-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 120px;
  }
}

.gallery-title {
  @include media(desktop) {
  }
}

.gallery-section-wrapper {
  padding-top: 24px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 0;
    max-width: 1440px;
  }
}

.gallery-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 110px;
  }
}

.gallery-swiper-container {
  width: 115px;
  max-width: 238px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    display: none;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-list-desk {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}

.gallery-slide {
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;

  &.swiper-slide-active {
    transform: scale(1.4) !important;
    z-index: 2;
  }

  @include media(desktop) {
    margin-left: 20px !important;
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 16px;

  @include media(desktop) {
    display: none;
  }
}

.arrow-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}
