.hero-section {
  padding-top: 310px;
  padding-bottom: 412px;
  background-image: url(../img/hero/hero-right-cubes-mob.png),
    url(../img/hero/hero-left-cubes-mob.png),
    url(../img/hero/hero-triangle-mob.png), url(../img/hero/hero-cubes-mob.png),
    url(../img/hero/hero-title-bg-mob.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: bottom -52px right, bottom 72px left, bottom 58px center,
    top 64px center, top 130px center;
  background-size: auto, auto, auto, auto, auto;
  max-width: 375px;
  margin: 0 auto;
  position: relative;

  @include media(desktop) {
    padding-top: 380px;
    padding-bottom: 489px;
    background-image: url(../img/hero/hero-triangle-desk.png),
      url(../img/hero/hero-cubes-desk.png),
      url(../img/hero/hero-title-bg-desk.png);
    background-position: bottom 97px center, top 34px center, top 78px center;
    max-width: 1440px;
  }
}

.hero-title {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 16px;
  }
}

.hero-text {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  max-width: 258px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 20px;
    max-width: 403px;
  }
}
