.reviews-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 120px;
  }
}

.reviews-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.reviews-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.reviews-swiper-container {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  min-height: 304px;

  @include media(desktop) {
    max-width: 1440px;
    min-height: fit-content;
  }
}

.reviews-swiper-container.show {
  visibility: visible;
}

.reviews-swiper-wrapper {
  display: flex;
  align-items: center;
}

.reviews-slide {
  box-shadow: 4px 4px 2px 0 rgba(255, 255, 255, 0.25);
  background: #17161d;
  border: 1px solid #fff;
  padding: 16px;
  width: 100%;
  max-width: 240px;
  display: flex !important;
  flex-direction: column;

  @include media(desktop) {
    min-height: 155px !important;
  }
}

.reviews-avatar-img {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0;
}

.swiper-slide-active .reviews-avatar-img {
  height: 180px;
  opacity: 1;
  margin-bottom: 8px;
}

.reviews-name {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.reviews-text {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
  }
}

.reviews-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;

  @include media(desktop) {
    display: none;
  }
}
